<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>

  <system.webServer>
    <handlers>
      <add name="StopDirectoryBrowsing" path="*." resourceType="Directory" verb="*"    preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
  
</configuration>
